.m-t {

    margin-top: 10px;

}
.lessmar {

    margin-top: 5px;
    margin-bottom: 5px;
}

.tnama {

    vertical-align: middle;
    text-align: center;

}
.imgs {

    height: 100px;
    width: 100px;

}